<!-- <div class="header-wrapper">
    <div class="product-logo">
        <img src="" alt="product logo">
        <span class="product-title">Dashboard</span>
    </div>
</div> -->


<!-- <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="" alt="" width="30" height="24">
      </a>
    </div>
  </nav> -->

<div class="header-container">
  <div class="header-logo">
  <img class="header-logo-img" src="/assets/autotest_logo.png" alt="">
  <span class="header-logo-text">Auto Test</span>
  </div>
  <div class="header-logo-2">
    <span class="header-logo-text-1">Powered by</span>
    <img class="header-logo-img-1" src="/assets/Hashedin_logo.png" alt="">
  </div>
</div>