<ngx-spinner type="ball-scale-multiple" bdColor="rgba(255, 255, 255, 1)"
  template="<center><img src='https://i.pinimg.com/originals/00/57/26/0057261d14be347efdfd2e72003943b2.gif' style='width:30%' /><br/><img src='https://thumbs.gfycat.com/CompassionateGleefulLangur-max-1mb.gif' style='width:40%' /></center>">
</ngx-spinner>
<app-header></app-header>
<div style="height: 100px;width:100%"></div>

<div class="container" style="margin-top: 70px; background-color: white;">
  <br /><br />
  <form novalidate (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
      <label class="heading" style="margin-top: 11px">Select a Source</label>
      <select class="form-control" name="technology" [(ngModel)]="model.technology" required>
        <option value="">Please select a source</option>
        <option *ngFor="let tech of techs" [value]="tech">{{ tech }}</option>
      </select>
    </div>
    <br />
    <div class="form-group" [ngClass]="{
        'has-danger': apiSpec.invalid && (apiSpec.dirty || apiSpec.touched),
        'has-success': apiSpec.valid && (apiSpec.dirty || apiSpec.touched)
      }">
      <label class="heading" *ngIf="model.technology != 'jarFile'">Enter the URL</label>
      <label class="heading" *ngIf="model.technology == 'jarFile'">Enter the Base URL</label>
      <input type="text" class="form-control" name="apiSpec" [(ngModel)]="model.apiSpec" required #apiSpec="ngModel" />
      <div class="form-control-feedback" *ngIf="apiSpec.errors && (apiSpec.dirty || apiSpec.touched)"></div>
    </div>

    <br />

    <label class="heading" *ngIf="model.technology == 'jarFile'">jarFile</label>
    &nbsp;&nbsp;
    <input type="file" class="file-input" name="upload_file" accept=".jar" (change)="onFileSelected($event)" #fileUpload
      required *ngIf="model.technology == 'jarFile'" />

    <br *ngIf="model.technology == 'jarFile'" /><br *ngIf="model.technology == 'jarFile'" />

    <!-- <label class="heading" *ngIf="model.technology != 'graphql'">Api Excel File</label> &nbsp;&nbsp;
    <input
      type="file"
      class="file-input"
      name="upload_file"
      accept=".xls,.xlsx"
      (change)="onExcelFileSelected($event)"
      #fileUpload
      required *ngIf="model.technology != 'graphql'"
    />
    <br /><br /> -->

    <!-- <button
      type="submit"
      class="btn btn-primary"
      (click)="generateReport(f)"
      [disabled]="f.invalid"
      *ngIf="model.technology == 'graphql'"
      style="margin-bottom: 15px"
    >
      Generate Report
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      (click)="generateReport(f)"
      [disabled]="f.invalid"
      *ngIf="model.technology != 'jarFile' && model.technology != 'graphql'"
      style="margin-bottom: 15px"
    >
      Generate Report
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      (click)="generateReportIfJar(f)"
      [disabled]="f.invalid"
      *ngIf="model.technology == 'jarFile'"
      style="margin-bottom: 15px"
    >
      Generate Report
    </button> -->
    <mat-checkbox class="example-margin" id="authCheckbox" [(ngModel)]="model.itsChecked" name="itsChecked"
    (change)="authRequired(f)" #itsChecked="ngModel"><b>Auth Required</b></mat-checkbox>
    <br><br>

    <label class="heading" *ngIf="enableAuthParameters">Enter the Api Key</label>
    <input type="text" class="form-control" name="apiKey" [(ngModel)]="model.apiKey" required #apiKey="ngModel" *ngIf="enableAuthParameters"/>
    <br><br>

    <label class="heading" *ngIf="enableAuthParameters">Enter the Api token</label>
    <input type="text" class="form-control" name="apiToken" [(ngModel)]="model.apiToken" required #apiToken="ngModel" *ngIf="enableAuthParameters"/>
<br *ngIf="enableAuthParameters"><br *ngIf="enableAuthParameters">
    <button type="submit" class="btn btn-primary" (click)="generateApiList(f)" [disabled]="f.invalid"
      style="margin-bottom: 15px;    margin-left: -7px;">
      Generate Api List
    </button>
  </form>
  <router-outlet></router-outlet>
</div>