/* .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  } */

  .heading{
    font-weight: bold;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align:left;
  }

  